{% if widget.is_initial %}
	<p class="label">{{ widget.initial_text }}:</p>
		<figure class="image is-128x128">
			<a href="{{ widget.value.url }}">
				<img src="{{ widget.value.url }}" alt="Image of the currently edited product" class="has-border-rounded"/>
			</a>
		</figure>
	{% if not widget.required %}
		<div>
			<label for="{{ widget.checkbox_id }}" class="checkbox has-text-danger">
				{{ widget.clear_checkbox_label }}
				<input 
				type="checkbox" 
				name="{{ widget.checkbox_name }}" 
				id="{{ widget.checkbox_id }}"
				class="checkbox"
				{% if widget.attrs.disabled %} disabled{% endif %}
				{% if widget.attrs.checked %} checked{% endif %}
				>
			</label>
		</div>
	{% endif %}	
	<br>
{% endif %}
	<div class="file has-name">
		<label class="file-label">
			<input type="{{ widget.type }}" name="{{ widget.name }}" class="file-input" {% include "django/forms/widgets/attrs.html" %}>
			<span class="file-cta">
				<span class="file-icon">
					<i class="fas fa-upload"></i>
				</span>
				<span class="file-label"> Upload image... </span>
			</span>
			<span class="file-name"> {{ widget.input_text }} </span>
		</label>
	</div>

<script>
    // Add event listener to the file input field
    document.querySelector('.file-input').addEventListener('change', function() {
        // Get the selected file name
        var fileName = this.files[0].name;
        // Update the file name display
        document.querySelector('.file-name').textContent = fileName;
    });
</script>
