{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<!-- Hero Image -->
<section class="section">
	<div class="container">

		<div class="block">
			<h2 class="title is-size-3 is-size-5-mobile">Contact Us</h2>
			<p class="subtitle is-size-3 is-size-5-mobile">
				If you have any questions, inquiries or doubts user the form below to get in touch.
			</p>
		</div> <!-- /.block -->

		<hr>

		<form action="" method="POST" class="form">
			<div class="card p-4 has-background-success bounce-in">
				{% csrf_token %}
				{{ form | crispy }}
				<input type="submit" class="button is-info my-5">
			</div>
		</form>

	</div> <!-- /.container -->
</section> <!-- /.section -->
{% endblock %}