{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Image -->
<style>
	#hero-img-container {
		background-image: url({% static 'home/media/pin_hero_image.png' %});
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
</style>
<section id="hero-img-container" class="hero is-halfheight">
	<div class="hero-body">
		<div class="card p-5 has-background-white-bis bounce-in">
			<h2 class="title is-size-2 is-size-3-mobile has-text-black-ter">Discover unique enamel pins.</h2>
			<p class="subtitle is-size-4 is-size-5-mobile h has-text-black-ter">From cute animals to trendy pop culture, find pins for every taste.</p>
			<a href="{% url 'products' %}" class="button is-success is-size-5 is-size-5-mobile">Shop Now</a>
		</div>
	</div>
</section>

<!-- Latest products -->
{% include 'includes/latest_products.html'%}

<hr>
<!-- Partners section -->
<div class="section">
	<div class="container">
		<div class="block has-text-centered">
			<h2 class="title is-size-2 is-size-3-mobile has-text-black-ter">
				Partners & Distributors
			</h2>
		</div> <!-- /.block -->
		<div class="columns">

			<div class="column">
				<figue class="image is-128x128 mx-auto is-square">
					<a href="https://www.uniqlo.com/" rel="noopener noreferrer">
						<img loading="lazy" src="{% static 'home/media/uniqlo_logo.png' %}" alt="Apple logo">
					</a>
				</figue>
			</div> <!-- /.column -->

			<div class="column">
				<figue class="image is-128x128 mx-auto is-square">
					<a href="https://www.thenorthface.com/" rel="noopener noreferrer">
						<img loading="lazy" src="{% static 'home/media/north_face_logo.png' %}" alt="Apple logo">
					</a>
				</figue>
			</div> <!-- /.column -->

			<div class="column">
				<figue class="image is-128x128 mx-auto is-square">
					<a href="https://www.vans.com/" rel="noopener noreferrer">
						<img loading="lazy" src="{% static 'home/media/vans_logo.png' %}" alt="Apple logo">
					</a>
				</figue>
			</div> <!-- /.column -->

		</div> <!-- /.columns -->
	</div> <!-- /.container -->
</div> <!-- /.section -->
<hr>
<!-- collection -->
<section class="section">
	<div class="container">
		<div class="mb-5 has-text-centered">
			<h2 class="title is-size-2 is-size-3-mobile has-text-black-ter">Collections</h2>
			<p class="subtitle is-size-4 is-size-5-mobile h has-text-black-ter">
				Browse products by <a href="{% url 'products' %}">collection</a>
			</p>
		</div>
		<div class="columns">
			{% for collection in collections %}
				<style>
					{% if collection.image %}
					#is-img-container-{{ collection.name }} {
						background-image: url("{{ collection.image.url }}");
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}
					{% else %}
					#is-img-container-{{ collection.name }} {
						background-image: url("https://www.svgrepo.com/show/340721/no-image.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
					}
					{% endif %}
				</style>
				<div class="column">
					<div id="is-img-container-{{ collection.name }}" class="is-img-container mx-auto has-border-rounded">
						<div class="is-overlay-text m-5">
							<a href="{% url 'products' %}?collection={{ collection.name }}" class="is-hoverable is-clickable">
								<p class="button is-size-4">
									{{ collection.user_friendly_name }}
								</p>
							</a> 
						</div> <!-- /.is-overlay-text m-5 -->
					</div> <!-- /.is-img-container has-border-rounded -->
				</div> <!-- /.column -->
			{% endfor %}
		</div> <!-- /.columns -->
	</div> <!-- /. container -->
</section>

{% endblock %}