{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="hero is-halfheight">
	<h2 class="is-title is-size-1 is-size-3-mobile">{{ user.username }}'s profile</h2>
	<hr>
	<div class="hero-body is-align-items-flex-start">
		<div class="container">

			{% if request.user.is_authenticated %}
				{% if request.user.is_superuser or request.user.is_staff %}
					<div class="mb-5">
						<h2 class="subtitle is-size-4">
							Staff Options
						</h2>
						<div>
							<p class="subtitle is-size-3 is-size-4-mobile">
								<a href="{% url 'add_product_or_variant'%}" class="button is-link is-outlined" aria-label="Link to product creation page">
									Create product or variant
								</a>
							</p>
						</div>
					</div>
				{% endif %}
			{% endif %}

			<div class="columns">
				<!-- Default Shipping Address -->
				<div class="column">
					<h2 class="subtitle is-size-4">
						Default Delivery Information
					</h2>
					<form action="{% url 'profile' %}" id="profile-update-form" method="POST">
						{% csrf_token %}
						{{ form | crispy }}
						<p id="error-message" class="subtitle is-danger"></p>
						<button type="submit" class="button is-info is-inverted">
							Update details
						</button>
					</form>
				</div> <!-- column -->

				<!-- Order History -->
				<div class="column">
					<h2 class="subtitle is-size-4">
						Order History
					</h2>
					<table class="table">
						<!-- Table Header -->
						<thead>
							<tr>
							  <th><abbr title="Order number">Order#</abbr></th>
							  <th>Date</th>
							  <th>Items</th>
							  <th>Total</th>
							  <th>Grand total</th>
							</tr>
						  </thead>

						  <!-- Table Body -->
						  <tbody>
							{% for order in orders %}
								<tr>
									<td>
										<a href="{% url 'order_history' order.order_number%}" title="{{ order.order_numbe }}">
											{{ order.order_number | truncatechars:6 }}
										</a>
									</td>
									<td>
										<p>
											{{ order.date }}
										</p>
									</td>
									<td>
										<ul>
											<!-- Is there are products added -->
											{% if order.productlineitem %}
												{% for item in order.productlineitem.all %}
													<li>{{ item.product.title | truncatechars:10}}</li>
												{% endfor %}
											{% endif %}

											<!-- If there are variants added -->
											{% if order.variantlineitem %}
												{% for item in order.variantlineitem.all %}
													<li>{{ item.variant.title | truncatechars:10}}</li>
												{% endfor %}
											{% endif %}
										</ul>
									</td>
									<td>
										<ul>
											<!-- Is there are products added -->
											{% if order.productlineitem %}
												{% for item in order.productlineitem.all %}
													<li>€{{ item.lineitem_total }}</li>
												{% endfor %}
											{% endif %}
											
											<!-- If there are variants added -->
											{% if order.variantlineitem %}
												{% for item in order.variantlineitem.all %}
													<li>€{{ item.lineitem_total}}</li>
												{% endfor %}
											{% endif %}
										</ul>
									</td>
									<td>
										<p>€{{ order.grand_total }}</p>
									</td>
								</tr>
							{% endfor %}
						  </tbody>
						  <!-- End of table -->
					</table>
				</div> <!-- column -->

			</div> <!-- /.columns -->
		</div> <!-- /.container -->
	</div> <!-- /.hero-body is-align-items-flex-start -->
</div> <!-- /.hero is-halfheight -->
{% endblock%}

{% block postload_js %}
<script>
    const countryField = document.getElementById('id_default_country');
    // Get a reference to the error message container
    const errorMessage = document.getElementById('error-message');

    // Add event listener for form submission
    document.getElementById('profile-update-form').addEventListener('submit', function(event) {
        // Get the selected option
        const selectedOption = countryField.options[countryField.selectedIndex];
        
        // Get the text content of the selected option
        const selectedText = selectedOption.textContent;

        // Check if the selected option is "Country *"
        if (selectedText === 'Country *') {
            // Prevent form submission
            event.preventDefault();
            // Add the error message to the error message container
            errorMessage.textContent = 'Please select a value other than "Country *".';
        }
    });
</script>
{% endblock %}