{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="section">
	<div class="container">
		<h2 class="is-title is-size-3 is-size-3-mobile">Order Summary</h2>
		<div class="columns">
			<div class="column">
					<div id="is-order-summary-card">
						{% for item in cart_items %}
							{% include 'includes/checkout_lineitem_card.html' %}
						{% endfor %}
					</div> <!-- /#is-order-summary-card -->
					<hr />
					<p class="title is-size-3 is-size-5-mobile">Total to be charge: € {{ grand_total }}</p>
			</div> <!-- /.column -->
			
			<!-- Checkout form -->
			<div class="column">
				<h2 class="is-title is-size-3 is-size-3-mobile">Shipping details</h2>
				<form action="{% url 'checkout' %}" method="POST" id="payment-form">
					{% csrf_token %}
					<div class="card py-4">
						<!-- Country and postcode holder -->
						<fieldset id="contact" class="p-3">
							<legend class="label">Details</legend>
							<div class="field is-horizontal">
								<div class="field-body">
									<div class="field">
										<p class="control is-expanded has-icons-left">
											<label class="label" for="full_name">Full name</label>
											{{ order_form.full_name | as_crispy_field }}
										</p> <!-- /.control -->
									</div> <!-- /.field -->

									<div class="field">
										<p class="control">
											<label class="label" for="email">Email Address</label>
											{{ order_form.email | as_crispy_field }}
										</p> <!-- /.control -->
									</div> <!-- /.field -->

								</div> <!-- /.field-body -->
							</div> <!-- /.field is-horizontal -->

							<div class="field mb-4">
								<p class="control">
									<label class="label" for="phone_number">phone number</label>
									{{ order_form.phone_number| as_crispy_field }}
								</p> <!-- /.control -->
							</div> <!-- /.field -->

						</fieldset>  <!-- /#contact -->

						<fieldset id="address" class="p-3 mt-5">
							<legend class="label">Delivery</legend>
							<div class="field mb-4">
								<p class="control">
									<label class="label" for="street_address1">Street address 1</label>
									{{ order_form.street_address1| as_crispy_field }}
								</p> <!-- /.control -->
							</div> <!-- /.field -->
							
							<div class="field mb-4">
								<p class="control">
									<label class="label" for="street_address2">Street address 2</label>
									{{ order_form.street_address2| as_crispy_field }}
								</p> <!-- /.control -->
							</div> <!-- /.field -->

							<div class="field mb-4">
								<p class="control">
									<label class="label" for="county">County</label>
									{{ order_form.county | as_crispy_field }}
								</p> <!-- /.control -->
							</div> <!-- /.field -->

							<div class="field is-horizontal">
								<div class="field-body">
									<div class="field">
										<p class="control">
											<label class="label" for="town_or_city">Town/City</label>
											{{ order_form.town_or_city | as_crispy_field }}
										</p> <!-- /.control -->
									</div> <!-- /.field -->

									<div class="field">
										<p class="control">
											<label class="label" for="postcode ">postcode</label>
											{{ order_form.postcode | as_crispy_field }}
										</p> <!-- /.control -->
									</div> <!-- /.field -->

									<div class="field">
										<p class="control">
											<label class="label" for="country">Country</label>
											{{ order_form.country | as_crispy_field }}
										</p> <!-- /.control -->
									</div> <!-- /.field -->

								</div> <!-- /.field-body -->
							</div> <!-- /.field is-horizontal -->
						</fieldset>  <!-- /#address -->
						
						<fieldset id="payment" class="m-4">
							<legend>Payment</legend>
							<!-- A stripe card element will go here -->
							<div id="card-element"></div>
	
							<!-- Used to display form errors -->
							<div id="card-errors"></div>
						</fieldset>  <!-- /#payment -->

						<div class="ml-3">
							{% if user.is_authenticated %}
							<input type="checkbox" class="checkbox" id="id-save-info" name="id-save-info">
							<label for="id-save-info" class="checkbox">Save information for purchases?</label>
							{% else %}
							<label class="container" for="id-save-info">
								<p>
									<a href="{% url 'account_signup' %}">Create an account</a>
								</p>
								<p>
									<a href="{% url 'account_login' %}">Login</a> to save this information
								</p>
							</label>
							{% endif %}
						</div>

						<div class="my-5">
							<div class="my-5 ml-3 is-flex is-flex-direction-row">
								<a href="{% url 'view_cart' %}" class="button mr-4">Adjust cart</a>
								<button id="submit-button" class="button is-primary">Complete order</button>
							</div>
						</div>
					</div> <!-- /. card -->

					<input type="hidden" id="client_secret" name="client_secret" value="{{ client_secret }}">
				</form>
			</div> <!-- /.column -->
		</div> <!-- /.columns -->
	</div> <!-- /.container -->
</div> <!-- /.section -->

{% endblock%}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key |json_script:"id_stripe_public_key" }}
    {{ client_secret |json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}