:root {
	--background: #ffffff; /* White */
	--foreground: #1C1932; /* Midnight Black */
	--accent: #8C52FF; /* Royal Purple */
	--highlight: #5CE1E6; /* Aqua Sky */
	--alert: #FF5757; /* Vivid Red */
	--barlow: "Barlow", sans-serif;
	--barlow-c: "Barlow Condensed", sans-serif;
}

/* Background classes */
.is-bg {
	background-color: var(--background);
}

.is-fg {
	background-color: var(--foreground);
}

.is-accent {
	background-color: var(--accent);
}

.is-highlight {
	background-color: var(--highlight);
}

.is-alert {
	background-color: var(--alert);
}

/* Background classes */
.is-bg,
.is-fg,
.is-accent,
.is-highlight,
.is-alert {
  transition: filter 0.3s ease; /* Smooth transition on hover */
}

/* Hover states */
.is-bg:hover,
.is-fg:hover,
.is-accent:hover,
.is-highlight:hover,
.is-alert:hover {
  filter: brightness(90%); /* Darken colors on hover */
}

/* Text color classes */
.is-bg-text {
color: var(--background) !important;
}

.is-fg-text {
color: var(--foreground);
}

.is-accent-text {
color: var(--accent);
}

.is-highlight-text {
color: var(--highlight);
}

.is-alert-text {
color: var(--alert);
}  


.cart--item-container {
	overflow-y: scroll;
	max-height: 40rem;
	scrollbar-color: #1C1932 white;
	scrollbar-width: thick;
}

.has-border-rounded {
	border-radius: 8px !important;
}

/* Quantity input */
.quantity-input {
	text-align: center;
	max-width: 10rem;
	width: 6rem;
	background: lightgray;
}

/** Footer Styling **/
ul.is-footer-linklist {
	list-style: none;
}

ul.is-footer-linklist li a {
	color: var(--background);
	font-weight: bold;
	text-decoration: underline;
}

#message-container {
	position: absolute;
    height: 100vh;
    width: 100vw;
}

.message {
	z-index: 50;
	position: relative;
	display: block;
	top: 5rem;
	max-width: 25rem;
	margin: auto;
}


@media screen and (max-width: 1023px) {
	.navbar-menu.is-active {
		position: absolute;
		width: 100%;
	}
}

.is-divider {
	height: 2px;
	width: 100%;
	color: var(--alert);
}

/* Animation */
.bounce-in {
	opacity: 0;
	animation: bounceIn 0.5s ease forwards;
}


/* keyframes */
@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	50% {
		opacity: 1;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideIn {
	0% {
	  transform: translateX(100%); /* Initial position */
	}
	70% {
	  transform: translateX(0); /* Slide in */
	}
	100% {
	  transform: translateX(3%); /* Final position */
	}
  }
  
  @keyframes slideOut {
	0% {
	  transform: translateX(0); /* Initial position */
	}
	70% {
	  transform: translateX(100%); /* Slide out */
	}
	100% {
	  transform: translateX(100%); /* Final position */
	}
  }

