:root {
	--barlow: "Barlow", sans-serif;
	--barlow-c: "Barlow Condensed", sans-serif;
}

#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	width: 100%;
	border-radius: 16px;
}

.cart--item-container {
	overflow-y: scroll;
	max-height: 40rem;
	scrollbar-color: #1C1932 white;
	scrollbar-width: thick;
}

.has-border-rounded {
	border-radius: 8px !important;
}

/* Quantity input */
.quantity-input {
	text-align: center;
	max-width: 10rem;
	width: 6rem;
	background: lightgray;
}

/** Footer Styling **/
ul.is-footer-linklist {
	list-style: none;
}

ul.is-footer-linklist li a {
	color: var(--background);
	font-weight: bold;
	text-decoration: underline;
}

#message-container {
	position: absolute;
    width: 100vw;
}

message-box {
	z-index: 50;
	position: absolute;
	display: block;
	top: 5rem;
	right: 10%;
	max-width: 25rem;
	margin: auto;
}


#is-order-summary-card {
	overflow-y: scroll;
	max-height: 33rem;
	height: 50rem;
}

#profile-pic {
	max-width: 50%;
	margin: auto;
}

@media screen and (max-width: 1023px) {
	#profile-pic {
		max-width: 90%;
		margin: auto;
	}

	.navbar-menu.is-active {
		position: absolute;
		width: 100%;
	}

	#line-item-container {
		overflow-y: scroll;
	}

	#is-order-summary-card {
		max-height: 17rem;
		height: 17rem;
	}
	
	
}

.is-divider {
	height: 2px;
	width: 100%;
	color: var(--alert);
}

/* Animation */
.bounce-in {
	opacity: 0;
	animation: bounceIn 0.5s ease forwards;
}

.fade-out {
	animation: fadeOut 0.5s ease forwards;
}
/* keyframes */
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	50% {
		opacity: 1;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideIn {
	0% {
	  transform: translateX(100%); /* Initial position */
	}
	70% {
	  transform: translateX(0); /* Slide in */
	}
	100% {
	  transform: translateX(3%); /* Final position */
	}
  }
  
  @keyframes slideOut {
	0% {
	  transform: translateX(0); /* Initial position */
	}
	70% {
	  transform: translateX(100%); /* Slide out */
	}
	100% {
	  transform: translateX(100%); /* Final position */
	}
  }

