<nav class="navbar bounce-in" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
        <h1 class="title is-size-4">Joe's Crazy Pins</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
                <a href="{% url 'products' %}?collection=enamel_pins" class="navbar-item">
                    Enamel Pins
                </a>

                <a href="{% url 'products' %}?collection=accessories" class="navbar-item">
                    Accessories
                </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                More
                </a>

                <div class="navbar-dropdown">
                    <a href="{% url 'home' %}" class="navbar-item">
                        About
                    </a>
                    <a href="{% url 'contact_page' %}" class="navbar-item">
                        Contact
                    </a>
                </div> <!-- /.navbar-dropdown -->
            </div> <!-- /.navbar-item -->
        </div> <!-- /.navbar-menu -->
  
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <div class="my-auto">
                        <form action="{% url 'products' %}" method="GET">
                            <div class="is-flex">
                                <input 
                                type="text" 
                                name="q" 
                                id="q"
                                class="input is-rounded mr-1 my-auto"
                                placeholder="Search for content in our site"
                                >
                                <button type="submit" class="button is-rounded">
                                    <i class="fa-solid fa-magnifying-glass" aria-label="Submit search form"></i>
                                </button>
                            </div> <!-- /.is-flex -->
                        </form> 
                    </div> <!-- /.my-auto -->
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser%}
                            <a href="{% url 'view_cart' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button {% if grand_total > 0 %}is-outlined is-primary{% endif %}" 
                            aria-label="Cart button"
                            >
                                <i class="fa-solid fa-cart-shopping is-large mr-2"></i>
                                €{{ grand_total }}
                            </a>
                            <a href="{% url 'profile' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button is-info is-outlined" 
                            aria-label="Logout from account"
                            >
                                <i class="fa-solid fa-user"></i>
                                Account
                            </a>
                            <a href="{% url 'account_logout' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button is-danger is-outlined" 
                            aria-label="Logout from account"
                            > 
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        {% else %}
                            <a href="{% url 'view_cart' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button {% if grand_total > 0 %}is-outlined is-primary{% endif %}" 
                            aria-label="Cart button"
                            >
                                <i class="fa-solid fa-cart-shopping is-large mr-2"></i>
                                €{{ grand_total }}
                            </a>
                            <a href="{% url 'profile' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button is-info is-outlined" 
                            aria-label="Logout from account"
                            >
                                <i class="fa-solid fa-user"></i>
                                Account
                            </a>
                            <a href="{% url 'account_logout' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button is-danger is-outlined" 
                            aria-label="Logout from account"
                            > 
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'view_cart' %}" 
                        class="is-flex is-flex-direction-column is-align-items-center mr-3 button {% if grand_total > 0 %}is-outlined is-primary{% endif %}" 
                        aria-label="Cart button"
                        >
                            <i class="fa-solid fa-cart-shopping is-large mr-2"></i>
                            €{{ grand_total }}
                        </a>
                        <a href="{% url 'profile' %}" 
                            class="is-flex is-flex-direction-column is-align-items-center mr-3 button is-info is-outlined" 
                            aria-label="Logout from account"
                            >
                                <i class="fa-solid fa-user"></i>
                                Account
                            </a>
                    {% endif %}
                </div>  <!-- /.buttons -->
            </div> <!-- /.navbar-item -->
        </div> <!-- /.navbar-end -->

    </div> <!-- /.navbar-menu -->
  </nav>