<!-- Meta Tags for SEO -->
<meta name="description" content="Discover unique enamel pins at Joe's Crazy Pins. Browse our diverse collection of high-quality pins and add flair to your style.">

<!-- Open Graph Meta Tags for Social Media -->
<meta property="og:title" content="Joe's Crazy Pins">
<meta property="og:description" content="Discover unique enamel pins at Joe's Crazy Pins. Browse our diverse collection of high-quality pins and add flair to your style.">
<meta property="og:image" content="https://ci-project-5-joe-pins-be851091e775.s3.eu-north-1.amazonaws.com/media/marigold_soft_enemal_pin.webp"> 
<meta property="og:url" content="https://ci-project-5-joe-pins-be851091e775.herokuapp.com/">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@joes_crazy_pins">
<meta name="twitter:title" content="Joe's Crazy Pins">
<meta name="twitter:description" content="Discover unique enamel pins at Joe's Crazy Pins. Browse our diverse collection of high-quality pins and add flair to your style.">
<meta name="twitter:image" content="https://ci-project-5-joe-pins-be851091e775.herokuapp.com/"> 