<div class="cell">
	<div class="card">
		<div class="card-image">
		<a href="{% url 'product_details' product.id %}">
		<figure class="image is-1by1 is-hoverable">
			<img
				{% if product.image %}
					src="{{ product.image.url}}"
				{% elif product.image_url %}
					src="{{ product.image_url }}"
				{% else %}
					src="https://ci-project-5-joe-pins-be851091e775.s3.eu-north-1.amazonaws.com/static/media/no_image_found.svg"
				{% endif %}
				alt="Placeholder image"
				class="is-hoverable"
			>
		</figure>
		</a>
		</div>

		<div class="card-content">
			<div class="media-content">
				<p class="title is-size-4 is-size-5-mobile">
					<a href="{% url 'product_details' product.id %}" class="has-text-black-ter">
					{{ product.title }}
					</a>
				</p>
				<p class="subtitle is-size-5 is-size-6-mobile mb-2">
					Price: ${{ product.price }}
				</p>
				{% if product.rating %}
				<p class="tag is-primary mb-2">
					Rating: {{ product.rating|floatformat:"1"  }}/5
				</p>
				{% else %}
				<p class="tag is-light mb-2">
					Rating not found
				</p>
				{% endif %}
				<p>{{ product.description|truncatechars:80 }}</p>
			</div> <!-- /.media-content-->
			{% include 'includes/update_delete_product.html' %}
		</div> <!-- /.card-content-->
	</div> <!-- /.card cell-->
</div>