{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="section">
	<div class="container">
		{% if current_collection %}
		<div class="block">
			<h2 class="title is-size-3 is-size-5-mobile">{{ current_collection.user_friendly_name }}</h2>
			<p class="subtitle is-size-3 is-size-5-mobile">{{ current_collection.description }}</p>
		</div>
		{% else %}
		<div class="block">
			<h2 class="title is-size-3 is-size-5-mobile">All Collection</h2>
			<p class="subtitle is-size-3 is-size-5-mobile">Shop all of our products.</p>
		</div>
		{% endif %}
		
		<div class="fixed-grid has-3-cols has-1-cols-mobile">
			<div class="grid">
			{% for product in products %}
				{% include 'includes/product_card.html' %}
				{% if product.variant_set %}
					{% for variant in product.variant_set.all  %}
					{% include 'includes/variant_card.html' %}
					{% endfor%}
				{% endif %}

			{% endfor %}
			</div> <!-- /.grid-->
		</div> <!-- /.fixed-grid has-3-cols -->
	</div> <!-- /.container -->
</div> <!-- /.section container -->

{% endblock %}
