{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="container section block">
	<div class="fixed-grid has-2-cols  has-1-cols-mobile">
		<div class="grid">
			
			<div class="cell">
				<div class="block">
					<div class="card-image">
					  <figure class="image is-1by1">
						<img
						  src="{{ product.image_url}}"
						  alt="{{product.description}}"
						/>
					  </figure>
					</div>
				  </div>
			</div>

			<div class="cell">
				<div class="block">
					<div class="card-content">
					  <div class="content">
						<h1 class="is-2 is-3-mobile">{{ product.title }}</h1>		
						<span class="title block is-flex-direction-row is-justify-content-center is-align-content-flex-start">
							<i class="fa-solid fa-star is-3 is-4-mobile"></i>
							<i class="fa-solid fa-star is-3 is-4-mobile"></i>
							<i class="fa-solid fa-star is-3 is-4-mobile"></i>
							<i class="fa-solid fa-star is-3 is-4-mobile"></i>
							<i class="fa-solid fa-star is-3 is-4-mobile"></i>
						</span>
						<p class="title is-3 mt-5">${{ product.price }}</p>			
						<hr>	
						<p class="is-3 mt-5">SKU: {{ product.sku}}</p>
						<form class="form mt-5 mb-5" action="{% url 'add_to_cart' product.id %}" method="POST">
							{% csrf_token %}
							<quantity-selector id="quantitySelector">
									<div 
									class="
									is-flex 
									is-flex-direction-rows 
									is-flex-wrap-nowrap 
									is-justify-content-flex-start 
									is-align-items-center 
									is-align-content-space-between">
										<button class="button" id="minus">-</button>
										<label for="quantity" hidden>Quantity</label>
										<input type="number" value="1" min="1" max="99" name="quantity" class="input" id="quantity" data-item-id="{{ product.id }}" value="1">
										<button class="button" id="plus" class="button">+</button>
									</div>
							</quantity-selector>
							<div 
							class="is-flex 
							mt-5 mb-5
							is-flex-direction-rows 
							is-flex-wrap-nowrap 
							is-justify-content-flex-start 
							is-align-items-center 
							is-align-content-space-between">
								<div class="mr-5">
									<a href="{% url 'products' %}" class="button">
										<i class="fa-solid fa-chevron-left mr-2"></i>
										<span>Continue Shopping</span>
									</a>
								</div>
								<div class="m-5 ">
									<input type="submit" class="button is-primary" value="Add to Cart">
								</div>
							</div>
							<input type="hidden" name="redirect_url" value="{{ request.path }}">
						</form>

						<div class="product-description">
							<p class="is-1">Description:</p>
							<p class="is-1">{{ product.description }}</p>
						</div>

						
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Recommended Product list-->
<div class="block section container">
	<h3 class="title is-2">Recommended products</h3>
	<div class="fixed-grid has-3-cols">
		<div class="grid">
			{% for option in recommended_products %}
				<div class="card cell">
					<div class="card-image">
					<figure class="image is-1by1">
						<img
						src="{{ option.image_url }}"
						alt="Placeholder image"
						/>
					</figure>
					</div>
	
					<div class="card-content">
						<div class="media-content">
							<p class="title is-4">
								<a href="{% url 'product_details' option.id %}">
								{{ option.title }}
								</a>
							</p>
							{% if option.rating %}
								<p class="subtitle is-6">Rating: {{ option.rating }}</p>
							{% else %}
								<p class="subtitle is-6">Leave a review</p>
							{% endif %}
							
							<p class="subtitle is-5">${{ option.price }}</p>
							<p class="subtitle is-6">{{ option.description }}</p>
						</div> <!-- /.media-content-->
					</div> <!-- /.card-content-->
				</div> <!-- /.card cell-->	
			{% endfor %}
		</div>
	</div>
	
</div>


{% endblock %}

{% block postload_js %}
<script src="{% static 'js/quantity_selector.js' %}"></script>
{% endblock %}
